.instrument-container {
    position: absolute;
    top: 20rem;
    left: 50%;
    height: 30rem;
    width: 60rem;
    transform: translateX(-50%);
    background-color: #484f55;
}

.instrument {
    width: calc(100% / 3);
    height: calc(100% / 3);
    padding: 1rem;
    float: left;
}
.reversed {
    direction: rtl
}