.instrument-container {
    position: absolute;
    top: 20rem;
    left: 50%;
    height: 30rem;
    width: 60rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    transform: translateX(-50%);
    background-color: #272b2c;
    padding: 0.25rem 0;
}
.instrument-container-row {
    position: relative;
    display: flex;
    height: 50%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 0.5rem;
    padding: 0.25rem 0.5rem;
}

.instrument {
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid #333;
    background-color: #484f55;
    border-radius: 0.5rem;
    transition: 0.2s ease-out;

    .instrument-title {
        position: absolute;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    h1 {
        margin-top: -0rem;
        font-size: 76px;
        text-align: center;
    }
    .instrument-gradient {
        position: absolute;
        height: 38%;
        width: 100%;
        border-radius: 0.5rem;
        background-color: #272b2c;
        background: linear-gradient(0deg, rgba(72,79,85,1) 15%, rgba(0,0,0,0) 40%);
    }
    .instrument-icon {
        position: absolute;
        top: 15%;
        height: 85%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        filter: opacity(0.1);

        img {
            height: 100%;
        }
    }
    .instrument-slider-container {
        position: absolute;
        height: 62%;
        width: 100%;
        top: 34%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
    }
    .instrument-slider {
        position: relative;
        width: 100%;
        height: calc(100% / 3);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
        input {
            position: absolute;
            width: 80%;
            height: 5px;
        }
        input::-webkit-slider-thumb:hover { 
            background-color: #81DE53;
            box-shadow: 0px 0px 24px -4px #81DE53;
        }
    }
}
.instrument:hover {
    transform: scale(1.01);
}

.reversed {
    direction: rtl
}