.instrument-container {
    position: absolute;
    top: 20rem;
    left: 50%;
    height: 30rem;
    width: 60rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    transform: translateX(-50%);
    background-color: #484f55;
}
.instrument-container-row {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.instrument {
    width: calc(100% / 3);
    height: 100%;
    padding: 1rem;
    border: 1px solid #333;
}

.reversed {
    direction: rtl
}