html, body {
    width: 100%;
    height: 99%;
    background: #333;
    background: linear-gradient(140deg, #333 0%, #111 100%);
    user-select: none;
    color: #DDD;
}

h1 {
    font-family: "Alumni Sans Pinstripe", sans-serif;
    text-transform: uppercase;
}

/*  Sliders */
input[type="range"] {
    appearance: none !important;
    background-color: #1f1f1f;
    height: 0.3rem;
    transition: 0.15s ease-in-out;
}
input[type="range"]:hover {
    background-color: #DDD;
}
input[type="range"]::-webkit-slider-thumb { 
    -webkit-appearance: none !important;
    background-color: #DDD;
    cursor: row-resize;
    z-index: 10;
    height: 1.8rem;
    width: 0.6rem;
    transition: 0.15s ease-in-out;
}
input[type="range"]::-webkit-slider-thumb:hover {
    cursor: col-resize;
    width: 0.8rem;
}

/* Overlay */
#overlay {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: rgba(17, 17, 17, 0.4);
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding-top: 32rem;
    box-sizing: border-box;

    h1{
        font-size: 100px;
    }
}
#overlay.overlay-hidden {
    display: none;
}


/* Room page */
#roomSelect {
    height: 140px;
}
#chatLog {
    height: 300px;
    background-color: #FFFFFF;
    resize: none;
}
#onlineUsersSelector {
    height: 300px;
}

#keygrid-container {
    width: 50%;
    margin: 0 auto;
}


/* Audio visualiser */
#visualiser {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 0;
}

/* Panel navigation bar */
#panel-mixer, #panel-sequencer, #panel-instrument {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
#panel-sequencer, #panel-instrument {
    display: none;
}

.panel-nav {
    position: absolute;
    height: 12rem;
    width: 50rem;
    bottom: 16%;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    z-index: 2;
    border-radius: 1rem;
    background-color: rgba(17, 17, 17, 0.4);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(8px);
    transition: 0.2s ease-in-out;

    .panel-nav-row {
        display: flex;
        flex: 1;
        gap: 5rem;
        padding: 0 3rem;
    }
    .panel-nav-row-2 {
        display: flex;
        flex-shrink: 1;
        gap: 5rem;
        padding: 0 3rem;
    }

    .panel-nav-container {
        position: relative;
        height: 80%;
        margin-top: 0.2rem;
        flex-grow: 3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 1rem;
        transition: 0.1s ease-in-out;
    }
    .panel-nav-container:hover {
        cursor: pointer;
        transform: scale(1.03);
    }

    .current-panel {
        transform: scale(1.02);
    }

    a {
        color: #DDD;
        font-weight: bold;
        font-size: 100%;
    }

    img {
        height: 6rem;
        margin-top: -2rem;
        margin-bottom: -1rem;
    }

    .panel-nav-slider {
        position: relative;
        margin-top: -1rem;
        margin-bottom: 0.5rem;
        display: flex;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        input {
            width: 100%;
            background-color: #272b2c;
            height: 0.3rem;
        }
        input:hover {
            background-color: #DDD;
        }
        input::-webkit-slider-thumb { 
            -webkit-appearance: none !important;
            background-color: #DDD;
            cursor: col-resize;
            height: 1.8rem;
            width: 0.6rem;
            border-radius: 0.1rem;
            z-index: 10;
            transition: 0.1s ease-in-out;
        }
        input::-webkit-slider-thumb:hover { 
            width: 0.8rem;
        }
        input#ambience-master-volume::-webkit-slider-thumb:hover { 
            background-color: #39b0f9;
            box-shadow: 0px 0px 24px -4px #39b0f9;
        }
        input#sequencer-master-volume::-webkit-slider-thumb:hover { 
            background-color: #EC5E47;
            box-shadow: 0px 0px 24px -4px #EC5E47;
        }
        input#instrument-master-volume::-webkit-slider-thumb:hover { 
            background-color: #81DE53;
            box-shadow: 0px 0px 24px -4px #81DE53;
        }

    }

}
.panel-nav:hover {
    background-color: rgba(17, 17, 17, 0.6);
    backdrop-filter: blur(20px);
}


/* Panel */
.panel {
    position: absolute;
    top: 25%;
    left: 50%;
    height: 30rem;
    width: 60rem;
    background-color: #272b2c;
    transform: translateX(-50%);
    transition: 0.7s ease-in-out;
}
.panel-title {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%);
    width: 60rem;
    font-size: 120px;
    text-align: center;
}


/* Settings menu */
#settingsIcon {
    position: absolute;
    z-index: 2;
    width: 3rem;
    height: 3rem;
    bottom: 2rem;
    left: 2rem;
    transition: 0.15s ease-in-out;

    img {
        width: 100%;
    }
}
#settingsIcon:hover {
    cursor: pointer;
    transform: scale(1.1) rotate(20deg);
}
#settings {
    display: none;
    position: absolute;
    z-index: 4;
    width: 16rem;
    height: 12rem;
    bottom: 4rem;
    left: 4rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: rgba(17, 17, 17, 0.4);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(8px);
    transition: 0.2s ease-in-out;

    h1 {
        text-align: center;
    }

    a {
        position: absolute;
        bottom: 1rem;
        left: 50%;
        border-radius: 0.3rem;
        padding-top: 0.2rem;
        text-align: center;
        width: 5rem;
        height: 2rem;
        background-color: #333;
        transform: translateX(-50%);
        transition: 0.1s ease-in-out;
    }
    a:hover {
        background-color: #484f55;
        cursor: pointer;
    }
}
#settings:hover {
    background-color: rgba(17, 17, 17, 0.6);
    backdrop-filter: blur(20px);
}

/* Settings menu */
#chatIcon {
    position: absolute;
    z-index: 2;
    width: 3rem;
    height: 4rem;
    bottom: 6rem;
    left: 2rem;
    transition: 0.15s ease-in-out;

    img {
        width: 100%;
    }
}
#chatIcon:hover {
    cursor: pointer;
    transform: scale(1.1);
}

#chat {
    display: none;
    position: absolute;
    z-index: 3;
    width: 22rem;
    height: 32rem;
    bottom: 9rem;
    left: 4rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: rgba(17, 17, 17, 0.4);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(8px);
    transition: 0.2s ease-in-out;

    h1 {
        text-align: center;
    }

    a {
        position: absolute;
        bottom: 1rem;
        left: 50%;
        border-radius: 0.3rem;
        padding-top: 0.2rem;
        text-align: center;
        width: 5rem;
        height: 2rem;
        background-color: #333;
        transform: translateX(-50%);
        transition: 0.1s ease-in-out;
    }
    a:hover {
        background-color: #484f55;
        cursor: pointer;
    }

    textarea, select {
        height: 16%;
        width: 100%;
        border: none;
        background: none;
        border: 1px solid #333;
        resize: none;
        color: #DDD;
        font-size: 14px;
    }
    textarea#chatLog {
        height: 50%;
    }
    textarea:hover, select:hover {
        cursor: default;
    }
    textarea:focus, select:hover {
        outline: none;
    }

    .user-message-container {
        margin-top: 0.3rem;
        width: 100%;
        height: 10%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        input {
            height: 2.5rem;
            border: none;
            font-size: 16px;
            background-color: #DDD;
            border-radius: 0.3rem;
            padding: 0 0.3rem;
        }
        input:focus {
            outline: none;
        }
        button {
            height: 100%;
            background: none;
            border: none;
            transition: 0.1s ease-in-out;

            img {
                height: 90%;
            }
        }
        button:hover {
            cursor: pointer;
            transform: scale(1.1);
        }

    }
}
#chat:hover {
    background-color: rgba(17, 17, 17, 0.6);
    backdrop-filter: blur(20px);
}