html, body {
    width: 100%;
    height: 99%;
    background: #333;
    background: linear-gradient(140deg, #333 0%, #111 100%);
    user-select: none;
    color: #DDD;
}

#roomSelect {
    height: 140px;
}
#chatLog {
    height: 300px;
    background-color: #FFFFFF;
    resize: none;
}
#onlineUsersSelector {
    height: 300px;
}

#keygrid-container {
    width: 50%;
    margin: 0 auto;
}



#panel-sequencer, #panel-instrument {
    display: none;
}

.panel-nav {
    height: 8rem;
    width: 50rem;
    position: absolute;
    margin-left: -25rem;
    margin-top: 45rem;
    left: 50%;
    border: 1px solid black;
    transform: scale(1);
}