html, body {
    width: 100%;
    height: 99%;
    background: #333;
    background: linear-gradient(140deg, #333 0%, #111 100%);
    user-select: none;
    color: #DDD;
}

/* Overlay */
#overlay {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: rgba(17, 17, 17, 0.4);
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding-top: 32rem;
    box-sizing: border-box;
    font-size: 32px;
}
#overlay.overlay-hidden {
    display: none;
}


/* Room page */
#roomSelect {
    height: 140px;
}
#chatLog {
    height: 300px;
    background-color: #FFFFFF;
    resize: none;
}
#onlineUsersSelector {
    height: 300px;
}

#keygrid-container {
    width: 50%;
    margin: 0 auto;
}


/* Audio visualiser */
#visualiser {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 0;
}

/* Panel navigation bar */
#panel-mixer, #panel-sequencer, #panel-instrument {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
#panel-sequencer, #panel-instrument {
    display: none;
}

.panel-nav {
    position: absolute;
    height: 10rem;
    width: 50rem;
    margin-left: -25rem;
    margin-top: 50rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    left: 50%;
    display: flex;
    z-index: 2;
    justify-content: space-evenly;
    border-radius: 1rem;
    background-color: rgba(17, 17, 17, 0.4);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(8px);
    transition: 0.2s ease-in-out;

    .panel-nav-container {
        position: relative;
        width: 20%;
        height: 100%;
        float: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 1rem;
        transition: 0.1s ease-in-out;
    }
    .panel-nav-container:hover {
        cursor: pointer;
        transform: scale(1.03);
    }

    .current-panel {
        transform: scale(1.02);
    }

    a {
        color: #DDD;
        font-weight: bold;
        font-size: 100%;
    }

    img {
        height: 6rem;
        margin-top: -2rem;
        margin-bottom: -1rem;
    }

}
.panel-nav:hover {
    background-color: rgba(17, 17, 17, 0.6);
    backdrop-filter: blur(20px);
}