.channel {
    position: relative;
    background-color: #484f55;
    float: left;
    height: 86%;
    width: calc(100% / 8);
    font-style: italic;
    transition: 0.3s ease-out;
    
    a {
        background: #272b2c;
        border-radius: 0.15rem;
        top: 4rem;
        padding-top: 0.28rem;
        cursor: pointer;
        display: block;
        height: 2rem;
        margin: 1rem 1.2rem;
        position: absolute;
        width: 5rem;
        text-decoration: none;
        text-align: center;
        font-weight: bold;
        font-size: 16px;
        color: #DDD;
        transition: 0.15s ease-in-out;
    }
    
    a:hover {
        transform: scale(1.05);
    }
    
    .active {
        font-style: normal;
        background: #39b0f9;
        box-shadow: 0px 0px 24px -4px #39b0f9;
    }
    
    h3 {
        top: 3.6rem;
        position: absolute;
        text-align: center;
        width: 100%;
        font-size: 20px;
    }

    img {
        position: absolute;
        top: -1rem;
        left: 0.2rem;
        height: 7rem;
    }

    p {
        bottom: 0;
        position: absolute;
        text-align: center;
        font-style: normal;
        width: 50%;
        left: 25%;
        font-size: 20px;
        border: 2px solid #272b2c;
        border-radius: 1rem;
        padding: 0.2rem 0 0.2rem 0;
        transition: 0.15s ease-in-out;
    }

    input {
        border-radius: 1rem;
        height: 0.8rem;
        width: 14rem;
    }
    input.slider::-webkit-slider-thumb { 
        background-color: #272b2c;
        height: 3rem;
        width: 1.3rem;
    }
    input.slider::-webkit-slider-thumb:hover {
        background-color: #39b0f9;
        box-shadow: 0px 0px 24px -4px #39b0f9;
        cursor: row-resize;
        width: 1.6rem;
        height: 3.6rem;
    }
    
}
.channel:hover {
    background-color: #51585f; 
}
.channel:hover > input[type='range'] {
    background: #DDD
}
.channel:hover > p {
    border: 2px solid #39b0f9;
    box-shadow: 0 0 8px 0 #39b0f9;
}
#filter-channel {
    border-left: 2px solid #272b2c;
}

.slider {
    bottom: 0.8rem;
    left: -3.23rem;
    position: absolute; 
    transform: rotate(270deg) translate(10rem);
}

/* Preset buttons */
.mixer-preset-container {
    position: absolute;
    width: 100%;
    height: 14%;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0 1rem;
}
.mixer-preset {
    background-color: #484f55;
    padding: 0.6rem 1rem;
    border-radius: 0.5rem;
    transition: 0.15s ease-in-out;
}
.mixer-preset:hover {
    cursor: pointer;
    background-color: #51585f;
    transform: scale(1.02);
}