@media only screen and (max-width: 1200px) {
    
    .panel {
        position: relative;
        width: 96%;
    }
    .panel-nav {
        width: 96%;
        bottom: 5%;
    }
    #panel-base, .panel-title {
        /* display: none; */
    }

}
@media only screen and (max-height: 1200px) {
    
    .panel-nav {
        bottom: 5%;
    }

}