.sequencer {
    position: absolute;
    top: 20rem;
    left: 50%;
    height: 30rem;
    width: 60rem;
    transform: translateX(-50%);
    background-color: #272b2c;

    .lighter-bg-1, .lighter-bg-2 {
        background-color: #51585f;
        position: absolute;
        height: 100%;
        width: 25%;
        left: 0;
        border-left: 1px solid #DDD;
        border-right: 1px solid #DDD;
    }
    .lighter-bg-2 {
        left: 50%;
    }

}

.sequencer-main {
    position: absolute;
    height: 86%;
    width: 100%;
    bottom: 0;
    background-color: #484f55;
}

.drum-label-container {
    position: absolute;
    height: 100%;
    width: 15%;
    left: 0;
    background-color: #272b2c;
}

.drum-label {
    position: relative;
    width: calc(100% - 1rem);
    height: 2.41rem;
    margin: 0.8rem 0.5rem 0.8rem 0.5rem;
    background-color: #484f55;
    border-radius: 0.15rem;
    text-align: center;
    font-weight: bold;
    transform: translateY(-0.35rem);
    padding-top: 0.4rem;
    transition: 0.15s ease-in-out;
}
.drum-muted {
    font-style: italic;
    color: #272b2c;
}
.drum-label:hover {
    cursor: pointer;
    background-color: #51585f;
}

.drum-track-container {
    position: absolute;
    height: 100%;
    width: 85%;
    left: 15%;
}

.drum-track {
    position: relative;
    float: right;
    height: calc(100% / 8);
    width: 100%;

    .beat {
        position: relative;
        height: calc(100% - 0.8rem);
        width: calc((100% / 16) - 0.8rem);
        margin: 0.4rem;
        background-color: #272b2c;
        border-radius: 0.15rem;
        border: none;
    }
    .beat:hover {
        transition: 0.15s ease-in-out;
        cursor: pointer;
        transform: scale(1.05);
    }

    .active-beat {
        background-color: #EC5E47;
        box-shadow: 0px 0px 24px -4px #EC5E47;
    }
    .current-beat {
        border: 1px solid #DDD;
        box-shadow: 0px 0px 8px -4px #DDD;
    }
    .active-beat.current-beat {
        transition: 0.1s ease-in-out;
        background-color: #DDD;
        box-shadow: 0px 0px 24px -4px #DDD;
        transform: scale(1.05);
    }

}

.sequencer-controls {
    position: absolute;
    height: 14%;
    width: 100%;
    top: 0;
    border-bottom: 1px solid #DDD;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.sequencer-filter-container {
    position: relative;
    background-color: #484f55;
    width: 50%;
    height: 70%;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.15s ease-in-out;

    input {
        width: 90%;
        background-color: #DDD;
        height: 0.3rem;
    }
    input::-webkit-slider-thumb { 
        -webkit-appearance: none !important;
        background-color: #DDD;
        cursor: col-resize;
        height: 1.8rem;
        width: 0.6rem;
        border-radius: 0.1rem;
        z-index: 10;
        transition: 0.1s ease-in-out;
    }
    input::-webkit-slider-thumb:hover { 
        width: 0.8rem;
        background-color: #EC5E47;
    }
}
.sequencer-filter-container:hover {
    background-color: #51585f;
}
.sequencer-reset-container {
    position: relative;
    background-color: #484f55;
    width: 15%;
    height: 70%;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.15s ease-in-out;

    a {
        font-weight: bold;
    }
}
.sequencer-reset-container:hover {
    cursor: pointer;
    background-color: #51585f;
}