.sequencer {
    position: absolute;
    top: 20rem;
    left: 50%;
    height: 30rem;
    width: 60rem;
    transform: translateX(-50%);
    background-color: #484f55;

    .lighter-bg-1, .lighter-bg-2 {
        background-color: #51585f;
        position: absolute;
        height: 100%;
        width: 25%;
        left: 0;
        border-left: 1px solid #DDD;
        border-right: 1px solid #DDD;
    }
    .lighter-bg-2 {
        left: 50%;
    }

}

.drum-label-container {
    position: absolute;
    height: 100%;
    width: 15%;
    left: 0;
    background-color: #272b2c;
}

.drum-label {
    position: relative;
    height: calc((100% / 8) - 0.45rem);
    width: calc(100% - 0.8rem);
    margin: 0.4rem;
    padding-top: 0.65rem;
    background-color: #484f55;
    border-radius: 0.15rem;
    text-align: center;
    font-weight: bold;
}
.drum-muted {
    font-style: italic;
    color: #272b2c;
}
.drum-label:hover {
    transition: 0.15s ease-in-out;
    cursor: pointer;
    background-color: #51585f;
}

.drum-track-container {
    position: absolute;
    height: 100%;
    width: 85%;
    left: 15%;
}

.drum-track {
    position: relative;
    float: right;
    height: calc(100% / 8);
    width: 100%;

    .beat {
        position: relative;
        height: calc(100% - 0.8rem);
        width: calc((100% / 16) - 0.8rem);
        margin: 0.4rem;
        background-color: #272b2c;
        border-radius: 0.15rem;
        border: none;
    }
    .beat:hover {
        transition: 0.15s ease-in-out;
        cursor: pointer;
        transform: scale(1.05);
    }

    .active-beat {
        background-color: #EC5E47;
        box-shadow: 0px 0px 24px -4px #EC5E47;
    }
    .current-beat {
        border: 1px solid #DDD;
        box-shadow: 0px 0px 8px -4px #DDD;
    }
    .active-beat.current-beat {
        transition: 0.1s ease-in-out;
        background-color: #DDD;
        box-shadow: 0px 0px 24px -4px #DDD;
        transform: scale(1.05);
    }

}