{% extends 'base.html' %}
{% load static %}

{% block title %}
Drum Machine Test
{% endblock %}

{% block head %}
<link rel="stylesheet" href={% static 'assets/styles/drum.css' %}>
{% endblock %}

{% block body %}

<h2>Drum Machine Test</h2>

<a id="sequencer-start" class="btn btn-light" onclick="" >Start/Stop</a>
<a id="sequencer-reset" class="btn btn-light" onclick="resetSequencer()" >Reset Sequencer</a>

<div>
    <hr>
    <label for="master-volume">Master Volume:</label><br>
    <input id="master-volume" type="range" min="0" max="200" value="100" oninput="" />
</div>


<section class="drum-container">

    <div class="drum-label-container">
        <div class="drum-label">Kick</div>
        <div class="drum-label">Snare</div>
        <div class="drum-label">Closed Hi-Hat</div>
        <div class="drum-label">Open Hi-hat</div>
        <div class="drum-label">Clap</div>
        <div class="drum-label">Crunch</div>
        <div class="drum-label">Shaker</div>
        <div class="drum-label">Cowbell</div>
    </div>

    <div class="drum-track-container">

        <div class="lighter-bg-1"></div>
        <div class="lighter-bg-2"></div>

        <div class="drum-track">
            <button class="beat active-beat"></button><button class="beat"></button><button class="beat"></button><button class="beat"></button><button class="beat"></button><button class="beat"></button><button class="beat"></button><button class="beat"></button><button class="beat"></button><button class="beat"></button><button class="beat"></button><button class="beat"></button><button class="beat"></button><button class="beat"></button><button class="beat"></button><button class="beat"></button>
        </div>
        <div class="drum-track">
            <button class="beat active-beat"></button><button class="beat"></button><button class="beat"></button><button class="beat"></button><button class="beat"></button><button class="beat"></button><button class="beat"></button><button class="beat"></button><button class="beat"></button><button class="beat"></button><button class="beat"></button><button class="beat"></button><button class="beat"></button><button class="beat"></button><button class="beat"></button><button class="beat"></button>
        </div>
        <div class="drum-track">
            <button class="beat active-beat"></button><button class="beat"></button><button class="beat"></button><button class="beat"></button><button class="beat"></button><button class="beat"></button><button class="beat"></button><button class="beat"></button><button class="beat"></button><button class="beat"></button><button class="beat"></button><button class="beat"></button><button class="beat"></button><button class="beat"></button><button class="beat"></button><button class="beat"></button>
        </div>
        <div class="drum-track">
            <button class="beat active-beat"></button><button class="beat"></button><button class="beat"></button><button class="beat"></button><button class="beat"></button><button class="beat"></button><button class="beat"></button><button class="beat"></button><button class="beat"></button><button class="beat"></button><button class="beat"></button><button class="beat"></button><button class="beat"></button><button class="beat"></button><button class="beat"></button><button class="beat"></button>
        </div>
        <div class="drum-track">
            <button class="beat active-beat"></button><button class="beat"></button><button class="beat"></button><button class="beat"></button><button class="beat"></button><button class="beat"></button><button class="beat"></button><button class="beat"></button><button class="beat"></button><button class="beat"></button><button class="beat"></button><button class="beat"></button><button class="beat"></button><button class="beat"></button><button class="beat"></button><button class="beat"></button>
        </div>
        <div class="drum-track">
            <button class="beat active-beat"></button><button class="beat"></button><button class="beat"></button><button class="beat"></button><button class="beat"></button><button class="beat"></button><button class="beat"></button><button class="beat"></button><button class="beat"></button><button class="beat"></button><button class="beat"></button><button class="beat"></button><button class="beat"></button><button class="beat"></button><button class="beat"></button><button class="beat"></button>
        </div>
        <div class="drum-track">
            <button class="beat active-beat"></button><button class="beat"></button><button class="beat"></button><button class="beat"></button><button class="beat"></button><button class="beat"></button><button class="beat"></button><button class="beat"></button><button class="beat"></button><button class="beat"></button><button class="beat"></button><button class="beat"></button><button class="beat"></button><button class="beat"></button><button class="beat"></button><button class="beat"></button>
        </div>
        <div class="drum-track">
            <button class="beat active-beat"></button><button class="beat"></button><button class="beat"></button><button class="beat"></button><button class="beat"></button><button class="beat"></button><button class="beat"></button><button class="beat"></button><button class="beat"></button><button class="beat"></button><button class="beat"></button><button class="beat"></button><button class="beat"></button><button class="beat"></button><button class="beat"></button><button class="beat"></button>
        </div>
    </div>

</section>


<script>
    // To pass into drum-audio.js
    let kickFile = "{% static 'assets/sounds/instrument/drums/kick.mp3' %}";
    let snareFile = "{% static 'assets/sounds/instrument/drums/snare.mp3' %}";
    let hatClosedFile = "{% static 'assets/sounds/instrument/drums/hat-closed.mp3' %}";
    let hatOpenFile = "{% static 'assets/sounds/instrument/drums/hat-open.mp3' %}";
    let clapFile = "{% static 'assets/sounds/instrument/drums/clap.mp3' %}";
    let crunchFile = "{% static 'assets/sounds/instrument/drums/crunch.mp3' %}";
    let shakerFile = "{% static 'assets/sounds/instrument/drums/shaker.mp3' %}";
    let cowbellFile = "{% static 'assets/sounds/instrument/drums/cowbell.mp3' %}";
</script>
<script src="{% static 'assets/scripts/drum-audio.js' %}"></script>
<script src="{% static 'assets/scripts/drum.js' %}"></script>

{% endblock %}