{% extends 'base.html' %}
{% load static %}

{% block title %}
Home
{% endblock %}

{% block head %}
<link rel="stylesheet" href={% static 'assets/styles/index.css' %}>
{% endblock head %}


{% block body %}


<h1 class="panel-title">Welcome to <a class="accent">Ambiene</a></h1>
<h1 class="panel-subtitle">Join a Room to Begin</h1>
<section id="panel-base" class="panel">
    <div class="room-container">
        <div class="room-row">
            <div id="room1" class="room">
                <h1>Room 1</h1>
                <p>Connected: <a class="accent">{{ room1 }}</a></p>
            </div>
            <div id="room2" class="room">
                <h1>Room 2</h1>
                <p>Connected: <a class="accent">{{ room2 }}</a></p>
            </div>
        </div>
        <div class="room-row">
            <div id="room3" class="room">
                <h1>Room 3</h1>
                <p>Connected: <a class="accent">{{ room3 }}</a></p>
            </div>
            <div id="room4" class="room">
                <h1>Room 4</h1>
                <p>Connected: <a class="accent">{{ room4 }}</a></p>
            </div>
        </div>
    </div>
</section>

<script src="{% static 'assets/scripts/index.js' %}"></script>

{% endblock %}