<h2>Ambience Mix</h2>

<a id="mixer-start" class="btn btn-light" onclick="ambienceTrack.toggle()" >Start/Stop</a>
<a id="mixer-reset" class="btn btn-light">Reset</a>
<a id="mixer-preset-1" class="btn btn-light">Preset 1</a>
<a id="mixer-preset-2" class="btn btn-light">Preset 2</a>

<div>
    <hr>
    <label for="ambience-master-volume">Master Volume:</label><br>
    <input id="ambience-master-volume" type="range" min="0" max="200" value="100" oninput="ambienceTrack.setMaster()" />
</div>

<div class="mixer">

    <section class="channel">
        <h3>Birds</h3>
        <a id="toggle-birds" class="slider-toggle active">ON</a>
        <input id="slider-birds" class="slider" type="range" min="0" max="100" value="0" />
        <p class="slider-label">0</p>
    </section>

    <section class="channel">
        <h3>Campfire</h3>
        <a id="toggle-fire" class="slider-toggle active">ON</a>
        <input id="slider-fire" class="slider" type="range" min="0" max="100" value="0" />
        <p class="slider-label">0</p>
    </section>

    <section class="channel">
        <h3>Rain</h3>
        <a id="toggle-rain" class="slider-toggle active">ON</a>
        <input id="slider-rain" class="slider" type="range" min="0" max="100" value="0" />
        <p class="slider-label">0</p>
    </section>

    <section class="channel">
        <h3>Coffee Shop</h3>
        <a id="toggle-shop" class="slider-toggle active">ON</a>
        <input id="slider-shop" class="slider" type="range" min="0" max="100" value="0" />
        <p class="slider-label">0</p>
    </section>

    <section id="filter-channel" class="channel">
        <h3>Filter</h3>
        <a id="toggle-filter" class="slider-toggle active">ON</a>
        <input id="slider-filter" class="slider" type="range" min="0" max="100" value="50" oninput="ambienceTrack.setFilter(this)" />
        <p class="slider-label">50</p>
    </section>

</div>