{% load static %}

<h1 class="panel-title"><a style="color:#39b0f9; text-shadow:0px 0px 8px #39b0f9;">Ambi</a>ence</h1>

<div class="panel mixer">

    <section class="channel">
        <img src={% static 'assets/icons/ambient/birds.png' %}>
        <a id="toggle-birds" class="slider-toggle active">ON</a>
        <input id="slider-birds" class="slider" type="range" min="0" max="100" value="0" />
        <p class="slider-label">0</p>
    </section>

    <section class="channel">
        <img src={% static 'assets/icons/ambient/fire.png' %}>
        <a id="toggle-fire" class="slider-toggle active">ON</a>
        <input id="slider-fire" class="slider" type="range" min="0" max="100" value="0" />
        <p class="slider-label">0</p>
    </section>

    <section class="channel">
        <img src={% static 'assets/icons/ambient/rain.png' %}>
        <a id="toggle-rain" class="slider-toggle active">ON</a>
        <input id="slider-rain" class="slider" type="range" min="0" max="100" value="0" />
        <p class="slider-label">0</p>
    </section>

    <section class="channel">
        <img src={% static 'assets/icons/ambient/shop.png' %}>
        <a id="toggle-shop" class="slider-toggle active">ON</a>
        <input id="slider-shop" class="slider" type="range" min="0" max="100" value="0" />
        <p class="slider-label">0</p>
    </section>

    <section class="channel">
        <img src={% static 'assets/icons/ambient/crickets.png' %}>
        <a id="toggle-crickets" class="slider-toggle active">ON</a>
        <input id="slider-crickets" class="slider" type="range" min="0" max="100" value="0" />
        <p class="slider-label">0</p>
    </section>

    <section class="channel">
        <img src={% static 'assets/icons/ambient/harbour.png' %}>
        <a id="toggle-harbour" class="slider-toggle active">ON</a>
        <input id="slider-harbour" class="slider" type="range" min="0" max="100" value="0" />
        <p class="slider-label">0</p>
    </section>

    <section class="channel">
        <img src={% static 'assets/icons/ambient/thunder.png' %}>
        <a id="toggle-thunder" class="slider-toggle active">ON</a>
        <input id="slider-thunder" class="slider" type="range" min="0" max="100" value="0" />
        <p class="slider-label">0</p>
    </section>

    <section id="filter-channel" class="channel">
        <img src={% static 'assets/icons/ambient/filter.png' %}>
        <a id="toggle-filter" class="slider-toggle active">ON</a>
        <input id="slider-filter" class="slider" type="range" min="0" max="100" value="50" oninput="ambienceTrack.setFilter(this)" />
        <p class="slider-label">50</p>
    </section>

    <div class="mixer-preset-container">
            <div class="mixer-preset">
                <a id="mixer-reset">Reset</a>
            </div>
            <div class="mixer-preset">
                <a id="mixer-preset-1">Rainforest</a>
            </div>
            <div class="mixer-preset">
                <a id="mixer-preset-2">Evening Campfire</a>
            </div>
            <div class="mixer-preset">
                <a id="mixer-preset-3">Nextdoor Caf&eacute;</a>
            </div>
            <div class="mixer-preset">
                <a id="mixer-preset-4">Seaside</a>
            </div>
            <div class="mixer-preset">
                <a id="mixer-preset-5">Midnight Thunder</a>
            </div>
            <div class="mixer-preset">
                <a id="mixer-preset-6">Park Morning</a>
            </div>
    </div>

</div>