{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ room.name }}
{% endblock %}

{% block body %}

<h2>Audio Room <i>#{{ room.name }}</i></h2>
<hr><br>

<!-- Buttons -->
<div class="row">
    <button class="col-sm m-2 btn btn-primary" id="pipeButton"><span>Pipe</span></button>
    <!-- <button class="col-sm m-2 btn btn-primary" id="volumeNone"><span>Volume 0</span></button>
    <button class="col-sm m-2 btn btn-primary" id="volumeHalf"><span>Volume 0.5</span></button>
    <button class="col-sm m-2 btn btn-primary" id="volumeFull"><span>Volume 1</span></button> -->
</div>
<div class="row">
    <button class="col-sm m-2 btn btn-success" id="startTrebleButton"><span>Start Treble Notes</span></button>
    <button class="col-sm m-2 btn btn-success" id="startBassButton"><span>Start Bass Notes</span></button>
    <button class="col-sm m-2 btn btn-success" id="startArpButton"><span>Start Arp</span></button>
</div>
<div class="row">
    <button class="col-sm m-2 btn btn-danger" id="stopTrebleButton"><span>Stop Treble Notes</span></button>
    <button class="col-sm m-2 btn btn-danger" id="stopBassButton"><span>Stop Bass Notes</span></button>
    <button class="col-sm m-2 btn btn-danger" id="stopArpButton"><span>Stop Arp</span></button>
</div>
<div class="row">
    <button class="col-sm my-2 mx-1 btn btn-primary" id="keyClow"><span>C</span></button>
    <button class="col-sm my-2 mx-1 btn btn-primary" id="keyD"><span>D</span></button>
    <button class="col-sm my-2 mx-1 btn btn-primary" id="keyE"><span>E</span></button>
    <button class="col-sm my-2 mx-1 btn btn-primary" id="keyF"><span>F</span></button>
    <button class="col-sm my-2 mx-1 btn btn-primary" id="keyG"><span>G</span></button>
    <button class="col-sm my-2 mx-1 btn btn-primary" id="keyA"><span>A</span></button>
    <button class="col-sm my-2 mx-1 btn btn-primary" id="keyB"><span>B</span></button>
    <button class="col-sm my-2 mx-1 btn btn-primary" id="keyChigh"><span>C</span></button>
</div>

<br><hr><br>

<!-- Chat Room -->
<div class="row">
    <div class="col-12 col-md-8">
        <div class="mb-2">
            <label for="chatLog">Room Log:</label>
            <textarea class="form-control" id="chatLog" readonly></textarea>
        </div>
        <div class="input-group">
            <input type="text" class="form-control" id="chatMessageInput" placeholder="Enter message:">
            <div class="input-group-append">
                <button class="mx-2 btn btn-primary" id="chatMessageSend" type="button">Send</button>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4">
        <label for="onlineUsers">Currently Connected:</label>
        <select multiple class="form-control" id="onlineUsersSelector">
        </select>
    </div>
</div>

{{ room.name|json_script:"roomName" }}

<script>
    // To pass into audio.js
    let testAudioFile = "{% static 'assets/sounds/test.mp3' %}"
    let pipeAudioFile = "{% static 'assets/sounds/pipe.mp3' %}"

    let ambient_birds = "{% static 'assets/sounds/ambient/birds.mp3' %}"
    let ambient_wind = "{% static 'assets/sounds/ambient/wind.mp3' %}"
    let ambient_rain = "{% static 'assets/sounds/ambient/rain.mp3' %}"
    let ambient_fire = "{% static 'assets/sounds/ambient/fire.mp3' %}"
</script>

<script src="{% static 'room.js' %}"></script>
<script src="{% static 'audio.js' %}"></script>

{% endblock %}