{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ room.name }}
{% endblock %}

{% block head %}
<link rel="stylesheet" href={% static 'assets/styles/mixer.css' %}>
<link rel="stylesheet" href={% static 'assets/styles/sequencer.css' %}>
<link rel="stylesheet" href={% static 'assets/styles/instrument.css' %}>
<script src="{% static 'assets/scripts/navigation.js' %}"></script>
{% endblock %}

{% block body %}

{{ room.name|json_script:"roomName" }}

<!-- Overlay to enable audio -->
<div id="overlay"><h1>Click to start</h1></div>
<!-- Audio visualiser background -->
<canvas id="visualiser"></canvas>


<!-- Panels -->
<section id="panel-mixer">
    {% include "mixer.html" %}
</section>


<section id="panel-sequencer">
    {% include "sequencer.html" %}
</section>


<section id="panel-instrument">
    {% include "instrument.html" %}
</section>


<section id="panel-base" class="panel"></section>


<!-- Nav bar -->
<div class="panel-nav">
    <div class="panel-nav-row">
        <div id="panel-nav-ambience" class="panel-nav-container">
            <img src={% static 'assets/icons/tree.png' %}>
            <a>Ambience</a>
        </div>
        <div id="panel-nav-sequencer" class="panel-nav-container">
            <img src={% static 'assets/icons/drum.png' %}>
            <a>Sequencer</a>
        </div>
        <div id="panel-nav-instrument" class="panel-nav-container">
            <img src={% static 'assets/icons/wave.png' %}>
            <a>Instruments</a>
        </div>
    </div>
    <div class="panel-nav-row-2">
        <div class="panel-nav-slider">
            <input id="ambience-master-volume" class="master-slider" type="range" min="0" max="200" value="100" oninput="ambienceTrack.setMaster()" />
        </div>
        <div class="panel-nav-slider">
            <input id="sequencer-master-volume" class="master-slider" type="range" min="0" max="100" value="50" />
        </div>
        <div class="panel-nav-slider">
            <input id="instrument-master-volume" class="master-slider" type="range" min="0" max="200" value="100" oninput="instrumentTrack.setMaster()" />
        </div>
    </div>
</div>


<!-- Home icon -->
<div id="homeIcon">
    <a href="{% url 'home' %}"><img src={% static 'assets/icons/home.png' %} alt="Home"></a>
</div>
<!-- Chat box -->
<div id="chatIcon">
    <img src={% static 'assets/icons/chat.png' %} alt="Chat">
</div>
<section id="chat">
    <h1>#{{ room.name }} Chat</h1>
    <!-- <textarea id="onlineUsersSelector" readonly></textarea> -->
    <select multiple id="onlineUsersSelector"></select>
    <textarea id="chatLog" readonly></textarea>
    <div class="user-message-container">
        <input id="chatMessageInput" type="text" placeholder="Enter message:">
        <button id="chatMessageSend"><img src={% static 'assets/icons/send.png' %} alt="Send"></button>
    </div>
    <a id="closeChat">Close</a>
</section>

<!-- Settings menu -->
<div id="settingsIcon">
    <img src={% static 'assets/icons/settings.png' %} alt="Settings">
</div>
<section id="settings">
    <h1>Settings</h1>
    <input type="checkbox" id="muteUI" checked />
    <label for="muteUI">Play UI sounds</label>
    <br>
    <input type="checkbox" id="showVis" checked />
    <label for="showVis">Show visualiser</label>
    <a id="closeSettings">Close</a>
</section>


<script>

    // To pass into audio.js

    // UI
    const uiFile = "{% static 'assets/sounds/ui/ui.mp3' %}";
    const notchFile = "{% static 'assets/sounds/ui/notch.mp3' %}";
    const buttonFile = "{% static 'assets/sounds/ui/button.mp3' %}";
    const clickFile = "{% static 'assets/sounds/ui/click.mp3' %}";
    const pipeFile = "{% static 'assets/sounds/ui/pipe.mp3' %}";

    // Ambient
    const birdsFile = "{% static 'assets/sounds/ambient/birds.mp3' %}";
    const fireFile = "{% static 'assets/sounds/ambient/fire.mp3' %}";
    const rainFile = "{% static 'assets/sounds/ambient/rain.mp3' %}";
    const shopFile = "{% static 'assets/sounds/ambient/shop.mp3' %}";
    const cricketsFile = "{% static 'assets/sounds/ambient/crickets.mp3' %}";
    const harbourFile = "{% static 'assets/sounds/ambient/harbour.mp3' %}";
    const thunderFile = "{% static 'assets/sounds/ambient/thunder.mp3' %}";

    // Instrument
    const marimbaFile = "{% static 'assets/sounds/instrument/marimba.mp3' %}";
    const synthFile = "{% static 'assets/sounds/instrument/synth.mp3' %}";
    const fluteFile = "{% static 'assets/sounds/instrument/flute.mp3' %}";
    const pianoFile = "{% static 'assets/sounds/instrument/piano.mp3' %}";
    const padFile = "{% static 'assets/sounds/instrument/pad.mp3' %}";

    // Drums
    const kickFile = "{% static 'assets/sounds/instrument/drums/kick.mp3' %}";
    const snareFile = "{% static 'assets/sounds/instrument/drums/snare.mp3' %}";
    const hatClosedFile = "{% static 'assets/sounds/instrument/drums/hat-closed.mp3' %}";
    const hatOpenFile = "{% static 'assets/sounds/instrument/drums/hat-open.mp3' %}";
    const clapFile = "{% static 'assets/sounds/instrument/drums/clap.mp3' %}";
    const crunchFile = "{% static 'assets/sounds/instrument/drums/crunch.mp3' %}";
    const shakerFile = "{% static 'assets/sounds/instrument/drums/shaker.mp3' %}";
    const cowbellFile = "{% static 'assets/sounds/instrument/drums/cowbell.mp3' %}";

    // Guitar
    const guitarFiles = {
        gentle: {
            sparse: [
                "{% static 'assets/sounds/instrument/guitar/gentle/sparse/1.mp3' %}",
                "{% static 'assets/sounds/instrument/guitar/gentle/sparse/2.mp3' %}",
                "{% static 'assets/sounds/instrument/guitar/gentle/sparse/3.mp3' %}",
                "{% static 'assets/sounds/instrument/guitar/gentle/sparse/4.mp3' %}",
                "{% static 'assets/sounds/instrument/guitar/gentle/sparse/5.mp3' %}",
                "{% static 'assets/sounds/instrument/guitar/gentle/sparse/6.mp3' %}",
                "{% static 'assets/sounds/instrument/guitar/gentle/sparse/7.mp3' %}",
                "{% static 'assets/sounds/instrument/guitar/gentle/sparse/8.mp3' %}",
            ],
            moderate: [
                "{% static 'assets/sounds/instrument/guitar/gentle/moderate/1.mp3' %}",
                "{% static 'assets/sounds/instrument/guitar/gentle/moderate/2.mp3' %}",
                "{% static 'assets/sounds/instrument/guitar/gentle/moderate/3.mp3' %}",
                "{% static 'assets/sounds/instrument/guitar/gentle/moderate/4.mp3' %}",
                "{% static 'assets/sounds/instrument/guitar/gentle/moderate/5.mp3' %}",
                "{% static 'assets/sounds/instrument/guitar/gentle/moderate/6.mp3' %}",
                "{% static 'assets/sounds/instrument/guitar/gentle/moderate/7.mp3' %}",
                "{% static 'assets/sounds/instrument/guitar/gentle/moderate/8.mp3' %}",
            ],
            full: [
                "{% static 'assets/sounds/instrument/guitar/gentle/full/1.mp3' %}",
                "{% static 'assets/sounds/instrument/guitar/gentle/full/2.mp3' %}",
                "{% static 'assets/sounds/instrument/guitar/gentle/full/3.mp3' %}",
                "{% static 'assets/sounds/instrument/guitar/gentle/full/4.mp3' %}",
                "{% static 'assets/sounds/instrument/guitar/gentle/full/5.mp3' %}",
                "{% static 'assets/sounds/instrument/guitar/gentle/full/6.mp3' %}",
                "{% static 'assets/sounds/instrument/guitar/gentle/full/7.mp3' %}",
                "{% static 'assets/sounds/instrument/guitar/gentle/full/8.mp3' %}",
            ],
        },
        standard: {
            sparse: [
                "{% static 'assets/sounds/instrument/guitar/standard/sparse/1.mp3' %}",
                "{% static 'assets/sounds/instrument/guitar/standard/sparse/2.mp3' %}",
                "{% static 'assets/sounds/instrument/guitar/standard/sparse/3.mp3' %}",
                "{% static 'assets/sounds/instrument/guitar/standard/sparse/4.mp3' %}",
                "{% static 'assets/sounds/instrument/guitar/standard/sparse/5.mp3' %}",
                "{% static 'assets/sounds/instrument/guitar/standard/sparse/6.mp3' %}",
                "{% static 'assets/sounds/instrument/guitar/standard/sparse/7.mp3' %}",
                "{% static 'assets/sounds/instrument/guitar/standard/sparse/8.mp3' %}",
            ],
            moderate: [
                "{% static 'assets/sounds/instrument/guitar/standard/moderate/1.mp3' %}",
                "{% static 'assets/sounds/instrument/guitar/standard/moderate/2.mp3' %}",
                "{% static 'assets/sounds/instrument/guitar/standard/moderate/3.mp3' %}",
                "{% static 'assets/sounds/instrument/guitar/standard/moderate/4.mp3' %}",
                "{% static 'assets/sounds/instrument/guitar/standard/moderate/5.mp3' %}",
                "{% static 'assets/sounds/instrument/guitar/standard/moderate/6.mp3' %}",
                "{% static 'assets/sounds/instrument/guitar/standard/moderate/7.mp3' %}",
                "{% static 'assets/sounds/instrument/guitar/standard/moderate/8.mp3' %}",
            ],
            full: [
                "{% static 'assets/sounds/instrument/guitar/standard/full/1.mp3' %}",
                "{% static 'assets/sounds/instrument/guitar/standard/full/2.mp3' %}",
                "{% static 'assets/sounds/instrument/guitar/standard/full/3.mp3' %}",
                "{% static 'assets/sounds/instrument/guitar/standard/full/4.mp3' %}",
                "{% static 'assets/sounds/instrument/guitar/standard/full/5.mp3' %}",
                "{% static 'assets/sounds/instrument/guitar/standard/full/6.mp3' %}",
                "{% static 'assets/sounds/instrument/guitar/standard/full/7.mp3' %}",
                "{% static 'assets/sounds/instrument/guitar/standard/full/8.mp3' %}",
            ],
        },
        intense: {
            sparse: [
                "{% static 'assets/sounds/instrument/guitar/intense/sparse/1.mp3' %}",
                "{% static 'assets/sounds/instrument/guitar/intense/sparse/2.mp3' %}",
                "{% static 'assets/sounds/instrument/guitar/intense/sparse/3.mp3' %}",
                "{% static 'assets/sounds/instrument/guitar/intense/sparse/4.mp3' %}",
                "{% static 'assets/sounds/instrument/guitar/intense/sparse/5.mp3' %}",
                "{% static 'assets/sounds/instrument/guitar/intense/sparse/6.mp3' %}",
                "{% static 'assets/sounds/instrument/guitar/intense/sparse/7.mp3' %}",
                "{% static 'assets/sounds/instrument/guitar/intense/sparse/8.mp3' %}",
            ],
            moderate: [
                "{% static 'assets/sounds/instrument/guitar/intense/moderate/1.mp3' %}",
                "{% static 'assets/sounds/instrument/guitar/intense/moderate/2.mp3' %}",
                "{% static 'assets/sounds/instrument/guitar/intense/moderate/3.mp3' %}",
                "{% static 'assets/sounds/instrument/guitar/intense/moderate/4.mp3' %}",
                "{% static 'assets/sounds/instrument/guitar/intense/moderate/5.mp3' %}",
                "{% static 'assets/sounds/instrument/guitar/intense/moderate/6.mp3' %}",
                "{% static 'assets/sounds/instrument/guitar/intense/moderate/7.mp3' %}",
                "{% static 'assets/sounds/instrument/guitar/intense/moderate/8.mp3' %}",
            ],
            full: [
                "{% static 'assets/sounds/instrument/guitar/intense/full/1.mp3' %}",
                "{% static 'assets/sounds/instrument/guitar/intense/full/2.mp3' %}",
                "{% static 'assets/sounds/instrument/guitar/intense/full/3.mp3' %}",
                "{% static 'assets/sounds/instrument/guitar/intense/full/4.mp3' %}",
                "{% static 'assets/sounds/instrument/guitar/intense/full/5.mp3' %}",
                "{% static 'assets/sounds/instrument/guitar/intense/full/6.mp3' %}",
                "{% static 'assets/sounds/instrument/guitar/intense/full/7.mp3' %}",
                "{% static 'assets/sounds/instrument/guitar/intense/full/8.mp3' %}",
            ],
        },
    };


</script>

<!-- Audio scripts -->
<script src="{% static 'assets/scripts/audio.js' %}"></script>
<script src="{% static 'assets/scripts/mixer.js' %}"></script>
<script src="{% static 'assets/scripts/sequencer.js' %}"></script>
<script src="{% static 'assets/scripts/instrument.js' %}"></script>
<script src="{% static 'assets/scripts/visualiser.js' %}"></script>

<!-- Socket script -->
<script src="{% static 'assets/scripts/socket.js' %}"></script>


{% endblock %}