{% extends 'base.html' %}
{% load static %}

{% block title %}
Mixer Test
{% endblock %}

{% block head %}
<link rel="stylesheet" href={% static 'assets/styles/mixer.css' %}>
<link rel="stylesheet" href={% static 'assets/styles/sequencer.css' %}>
<script src="{% static 'assets/scripts/navigation.js' %}"></script>
{% endblock %}

{% block body %}


<div class="panel-nav">
    <button id="panel-prev">Previous</button>
    <button id="panel-next">Next</button>
</div>


<section id="panel-mixer">
    {% include "mixer.html" %}
</section>


<section id="panel-sequencer">
    {% include "sequencer.html" %}
</section>


<section id="panel-instrument">

    <h2>Instrument Test</h2>

    <a id="marimba" class="btn btn-light" onclick="instrumentTrack.startMarimba()">Start Marimba</a>
    <br><label for="marimba-volume">Volume:</label><br>
    <input id="marimba-volume" type="range" min="0" max="200" value="100" />

    <br>

    <a id="synth" class="btn btn-light" onclick="instrumentTrack.startSynth()">Start Synth</a>
    <br><label for="synth-volume">Volume:</label><br>
    <input id="synth-volume" type="range" min="0" max="200" value="100" />

</section>


<script>
    // To pass into audio.js

    // UI
    let notchFile = "{% static 'assets/sounds/ui/notch.mp3' %}";
    let buttonFile = "{% static 'assets/sounds/ui/button.mp3' %}";

    // Ambient
    let birdsFile = "{% static 'assets/sounds/ambient/birds.mp3' %}";
    let fireFile = "{% static 'assets/sounds/ambient/fire.mp3' %}";
    let rainFile = "{% static 'assets/sounds/ambient/rain.mp3' %}";
    let windFile = "{% static 'assets/sounds/ambient/wind.mp3' %}";
    let shopFile = "{% static 'assets/sounds/ambient/shop.mp3' %}";

    // Instrument
    let marimbaFile = "{% static 'assets/sounds/instrument/marimba.mp3' %}";
    let synthFile = "{% static 'assets/sounds/instrument/synth.mp3' %}";

    // Drums
    let kickFile = "{% static 'assets/sounds/instrument/drums/kick.mp3' %}";
    let snareFile = "{% static 'assets/sounds/instrument/drums/snare.mp3' %}";
    let hatClosedFile = "{% static 'assets/sounds/instrument/drums/hat-closed.mp3' %}";
    let hatOpenFile = "{% static 'assets/sounds/instrument/drums/hat-open.mp3' %}";
    let clapFile = "{% static 'assets/sounds/instrument/drums/clap.mp3' %}";
    let crunchFile = "{% static 'assets/sounds/instrument/drums/crunch.mp3' %}";
    let shakerFile = "{% static 'assets/sounds/instrument/drums/shaker.mp3' %}";
    let cowbellFile = "{% static 'assets/sounds/instrument/drums/cowbell.mp3' %}";

</script>
<script src="{% static 'assets/scripts/audio.js' %}"></script>
<script src="{% static 'assets/scripts/mixer.js' %}"></script>
<script src="{% static 'assets/scripts/sequencer.js' %}"></script>



{% endblock %}